name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          filename: github-metrics.svg
          
          user: DiegoAndradeD
          template: classic
          config_timezone: America/Sao_Paulo
          
          base: header, activity, community, repositories, metadata
          config_display: regular
          
          config_theme: dark 
          
          config_padding: 0, 8 + 5%

          plugin_lines: yes
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: percentage, lines
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
